usefull-algorithm/.vs
usefull-algorithm/usefull-algorithm.sln
usefull-algorithm/usefull-algorithm.vcxproj
usefull-algorithm/usefull-algorithm.vcxproj.filters
usefull-algorithm/usefull-algorithm.vcxproj.user